*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
 
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00AFF0;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }


   /* Styles */
   .app-header{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(246, 246, 246);
    font-size: 45px;
   }
   .parent{
    /* border: 2px solid red; */
    padding: 1rem;
    width: 75%;
   }
   .child{
    margin-bottom: 1rem;
   }
   .ready-heading{
    font-size: 30px;
    text-transform: capitalize;
    color: white;
   }
   .btn{
    background:#252525;
    color: #00AFF0;
    margin: 20px;
    padding: .6rem;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 0px rgb(77, 115, 138) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease;
   }
   .btn:hover{
    background-color: #363636;
   }
   .btn:active{
    transform: translateY(7px);
    box-shadow: 0px 2px 0px 0px  rgb(67, 88, 93);
   }
   svg{
    height: 20px;
    margin-left: .8rem;
   }
   
   /* .notes-container{
    border: 2px solid blue;
   } */
   .input-box{
    /* display: none; */
    background-color: white;
    position: relative;
    width: 100%;
    max-width: 600px;
    min-height: 150px;
    padding: 20px;
    margin: 20px;
    outline: none;
    border-radius: 5px;
   }
   .input-box > img{
    position: absolute;
    width: 25px;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
   }